/* ==========================================================================
   Includes
   ========================================================================== */

.slick-slider {
    opacity: 0;
    transition: .3s opacity;

    &.slick-initialized {
        opacity: 1;
    }
}

@import "mixins";

@import "generic/page-container";

@import "generic/section";
@import "generic/background";
@import "generic/alignment";
@import "generic/padding";
@import "generic/layout";
@import "generic/section-spacing-before-after";

@import "sections/video";
@import "sections/twocolumn";
@import "sections/checkerboard";
@import "sections/featureditems";
@import "sections/slider";
