/* ==========================================================================
   Includes
   ========================================================================== */

.slider-wrap {
    opacity: 0 !important;
    transition: .5s opacity;

    &.slick-initialized {
        opacity: 1 !important;
    }
}

@import "mixins";

@import "generic/page-container";

@import "generic/section";
@import "generic/background";
@import "generic/alignment";
@import "generic/padding";
@import "generic/layout";
@import "generic/section-spacing-before-after";
@import "generic/section-id-hidden-anchor";
@import "generic/remove-edit-links";

@import "sections/video";
@import "sections/twocolumn";
@import "sections/checkerboard";
@import "sections/featureditems";
@import "sections/slider";
