/* ==========================================================================
   Background image
   ========================================================================== */

.gutenberg-section.has-background-image,
.gutenberg-section.video {
    h1,
    h2,
    h3,
    h4,
    p,
    li,
    a {
        color: white;
    }

    .background-image {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        z-index: 5;
    }

    .color-overlay {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: black;
        opacity: 0.3;
    }
}

/* ==========================================================================
   Fixed position background
   ========================================================================== */

.gutenberg-section.fixed-position-background {
    .background-image {
        background-attachment: fixed;
    }
}