/* ==========================================================================
   Full height
   ========================================================================== */

@include notmobile {
    .gutenberg-section.full-height {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

        > .content-wrap {
            flex: 0 1 auto;
        }
    }
}