.gutenberg-section {
    @include desktop {
        padding-top: 75px;
        padding-bottom: 75px;
    }


    @include tablet {
        padding: 50px 30px;
    }


    @include mobile {
        padding: 30px;
    }
}

.gutenberg-section.no-padding {
    padding: 0 !important;

    .content-wrap {
        max-width: 100% !important;
        width: 100% !important;
    }
}
